<div class="sortBar {{ isOpen ? 'open' : '' }}">
	<div class="search">
		<app-sort [order]="orders[0]" column="location" label="KM" (changeSort)="onChangeSort($event)" />
		<app-gap [min]="location.min" [max]="location.max" column="location" (changeGap)="onChangeGap($event)" />
	</div>
	<div class="search">
		<app-sort [order]="orders[1]" column="fameRating" label="Rating" (changeSort)="onChangeSort($event)" />
		<app-gap [min]="fameRating.min" [max]="fameRating.max" column="fameRating" (changeGap)="onChangeGap($event)" />
	</div>
	<div class="search">
		<app-sort [order]="orders[2]" column="commonTag" label="Tag" (changeSort)="onChangeSort($event)" />
		<app-gap [min]="commonTag.min" [max]="commonTag.max" column="commonTag" (changeGap)="onChangeGap($event)" />
	</div>
	<div class="search">
		<app-sort [order]="orders[3]" column="age" label="Age" (changeSort)="onChangeSort($event)" />
		<app-gap [min]="age.min" [max]="age.max" column="age" (changeGap)="onChangeGap($event)" />
	</div>
	<!-- eslint-disable-next-line @angular-eslint/template/elements-content -->
	<button (click)="toggleOpen()"></button>
</div>
