@use 'color';
@use 'mixins';
@use 'shadow';
@use 'border';

/* Progress bar*/
app-progress-bar {
	@include mixins.flex-center-column();
	width: 100%;
	height: 100%;
}
.progress-bar {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 80%;
	height: 1.5rem;
	margin: 0 10%;
	box-sizing: border-box;
	$pink: color.get-palette-value('background', base);
	border: solid 3px darken($pink, 22.5%);
	background: linear-gradient(darken($pink, 20%), darken($pink, 10%));
	font: clamp(0.625em, 7.5vw, 5em) monospace;
	box-shadow: shadow.$btn-primary;
	z-index: 2000;
	@include mixins.border-radius-25();
	&::-webkit-progress-bar {
		background: transparent;
	}

	&::-webkit-progress-value {
		@include mixins.progressing();
	}
	&::-moz-progress-bar {
		@include mixins.progressing();
	}
}
