app-registration {
	height: 100%;
}
.registration-msg {
	width: 90%;
	margin: auto;
	position: relative;
	display: flex;
	height: 100%;
	text-align: center;
	justify-content: center;
	align-items: center;
	max-width: 300px;
}
